.add-new-movie {
  margin: 10px 0;
}
.action-button {
  display: flex;
  align-items: center;
}
.action-button button {
  padding: 6px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}
.action-button button:hover {
  background-color: #f3f3f3;
  border-radius: 5px;
  transform: scale(1.1);
}
.edit-btn {
  color: rgb(46, 46, 159);
  font-size: 16px;
}
.delete-btn {
  color: red;
  font-size: 16px;
}
.edit-btn:hover {
  background-color: #f3f3f3;
  border-radius: 5px;
  transform: scale(1.1);
}
.search-container{
  margin: 20px 0;
}
